@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Serif+Display:wght@600&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Noto Serif Display', serif;
  background-color: #EDF5FC;
}

header,
footer,
main {
  max-width: 66em;
  margin: 0 auto;
}

header,
footer {
  background-color: rgb(143, 111, 111);
  color: ghostwhite;
  text-align: center;
  border-radius: 25px;
  padding: 0.007px;
}

.author_name {
  float: none;
  max-width: 1100px;
  text-align: center;
  padding: 5px;
  font-family: 'Spectral', serif;
  font-size: 2em;
  line-height: 1em;
  color: #000000;
  position: relative;
}

h1 {
  padding: 20px;
  text-align: center;
  font-family: 'Noto Serif Display', serif;
  font-size: 3.5em;
  color: #d8e7e7;
  border-radius: 25px;
  line-height: 1.1em;
  position: relative;
}

a {
  color: rgb(4, 22, 61);
  text-decoration: none;
  text-align: center;
}

p {
  font-family: 'Poppins', serif;
}

a:hover {
  color: rgba(143, 143, 143, 1);
}

footer p a {
  color: rgba(255, 255, 255, 1);
}

footer p a:hover {
  color: rgba(78, 78, 78, 1);
}

#mainColumns {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 5px;
}

section {
  margin: 5px;
  border: 1px solid rgb(4, 22, 61);
  background-color: rgb(190, 182, 158);
  width: auto;
  border-radius: 10px;
}

h3 {
  text-align: center;
  margin: 0;
  background-color: rgb(78, 81, 87);
  color: rgba(255, 255, 255, 1);
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
}

section p {
  margin: 15px;
  text-align: center;
}

picture img {
  max-width: 90%;
  padding: 15px;
}



.info {
  text-align: center;
}

a.three {
  color: #dfcfcf;
}

#last_modified {
  color: #ceccd3;
}

#last_modified {
  color: #edae49;
  align-content: center;
}

/* unvisited link */
a:link {
  color: #29527A;
}

/* visited link */
a:visited {
  color: #29527A;
}

/* mouse over link */
a:hover {
  color: #222131;
}

/* selected link */
a:active {
  color: #29527A;
}

/* unvisited link */
footer a:link {
  color: #ccc;
}

/* visited link */
footer a:visited {
  color: ghostwhite;
}

/* mouse over link */
footer a:hover {
  color: #edae49;
}

/* selected link */
footer a:active {
  color: ghostwhite;
}