@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap');

body {
    background-color: #EDF5FC;
}
#content {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
} 

img {
    max-width: 100%;
}

h1 {      
    padding: 20px;
    text-align: center;
    font-family: 'Spectral', serif;
    font-size: 3em;
    line-height: 1.1em;
    color: #d8e7e7;
    position:relative;
}

h2 {     
    max-width: 900px;
    float: left; 
    padding: 2px;
    text-align: left;
    font-family: 'Spectral', serif;
    font-size: 2em;
    line-height: 1em;
    color: #272D2D;
    position: relative;
    
}

p {
    text-align: left;
    padding: 5px;
    font-family: 'Karla', sans-serif;
    font-size: 1em;
    line-height: 1.35em;
    color: #d8e7e7;
}

header {
    max-width: 1100px;
    background-color: rgb(143, 111, 111);
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    border-radius: 10px;
}
  
footer {
    max-width: 1100px;
    background-color: rgb(143, 111, 111);
    align-items: center;
    justify-content: center;
    line-height: 2.75em;
    border-radius: 10px;
}

.list-title {
    float: none;
    border-bottom: inset grey;
}


li {
    text-align: justify;
    font-family: 'Spectral', serif;
    font-size: 1.25em;
}

.picture-right-image {
    position: relative;
    z-index: 1000;
    float: right;
    width: 285px;
    height: 286px;
    margin: 15px 10px 15px 5px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
    text-align: center;
}

a.three {
    color: #dfcfcf;
}

#last_modified {
    color: #ceccd3;
}