@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Merriweather&display=swap");

body {
  padding: 1em;
}

h1 {
  text-align: center;
  padding: 1em;
  font-size: 3.5rem;
  text-shadow: .25rem .25rem .75rem #333;
  margin-bottom: 1rem;
}

p {
  margin-top: -10px;
  font-family: "Merriweather", sans-serif;
}

img {
  width: 67px;
  height: 67px;
}

footer a:link,
footer a:visited {
  color: white;
}

footer {
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: row;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.2em;
  font-family: 'Karla', sans-serif;
  text-align: center;
  margin-top: 10px;
  max-width: auto;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

a:hover {
  color: #f8cd0c;
}

footer a:hover {
  color: lightgreen;
}

@media only screen and (min-width: 640px) and (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width: 60em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}