/* enhance-desktop */
@media only screen and (min-width: 56em) {
  .herodiv {
    margin: 10px auto;
    position: relative;
    max-width: 100%;
    max-height: 90%;
  }

  picture img {
    box-shadow: 0 0 1rem #333;
    max-width: 100%;
    max-height: 120%;
  }

  .label {
    visibility: hidden;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
  }

  .label:after {
    visibility: Visible;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
    content: "Large";
  }

  .stats {
    position: absolute;
    top: 10px;
    right: 450px;
    left: 10px;
    background: radial-gradient(#eee, #f5cf87);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #333;
    width: 100;
    max-height: 50%;
    font-size: 9px;
    text-align: left;
  }

  .stats span {
    font-style: italic;
    font-weight: 700;
    max-width: 100%;
    max-height: 100%;
  }

  .navigation {
    padding: 0;
    align-items: flex-start;
    flex-wrap: nowrap;
    display: flex;
    order: 1;
    position: relative;
    width: auto;
    flex-direction: row;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: block;
    font-size: 25px;
    /* flex: none; */
    flex: 1 1 auto;
  }

  .navigation ul {
    display: flex;
    list-style-type: none;
  }

  .logo {
    width: 150px;
    height: 150px;
    display: flex;
  }

  footer {
    max-width: 1200px;
    flex-direction: row;
  }

  .navigation li a {
    color: yellow;
  }

  .navigation a {
    text-align: center;
  }

  .content {
    background-color: rgb(255, 255, 255);
    max-width: 650px;
  }
}