/* enhance-desktop */
@media only screen and (min-width: 56em) {
  .logo {
    width: 150px;
    height: 150px;
  }
  
  .navigation {
    padding: 0;
    align-items: flex-start;
    flex-wrap: nowrap;
    display: flex;
    order: 1;
    position: relative;
    width: auto;
    flex-direction: row;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    /* display: block; */
    font-size: 25px;
    flex: 1 1 auto;
  }

  .navigation li a {
    color: yellow;
    text-align: center;
  }

  .herodiv {
    margin: 10px auto;
    position: relative;
    max-width: 100%;
    max-height: 90%;
  }

  picture img {
    box-shadow: 0 0 1rem #333;
    max-width: 100%;
    max-height: 120%;
  }

  .stats {
    position: absolute;
    bottom: 215px;
    left: 85px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    /* padding: 1.5rem; */
    box-shadow: 0 0 30px #333;
    opacity: 0.5;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0 0 .5rem;
    border-bottom: 1px solid #000;
  }
  
  p {
    margin: 0;
  }
  
  .stats span {
    font-style: italic;
    font-weight: 700;
  }

  footer {
    max-width: 1400px;
    flex-direction: row;
  }

  /* Gallery Page */

}