/* Media Query for medium+ views --> enhance-tablet */
@media only screen and (min-width: 32.5em) {
  picture img {
    box-shadow: 0 0 1rem #333;
    max-width: 100%;
  }

  .label {
    visibility: hidden;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
  }

  .stats {
    position: static;
  }

  .label:after {
    visibility: Visible;
    position: absolute;
    color: yellow;
    top: 10px;
    right: 30px;
    content: "Small";
  }

  nav {
    margin: 0 auto;
  }

  .navigation {
    justify-content: center;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  .navigation ul {
    list-style-type: none;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .navigation li:first-child {
    display: none;
  }

  .navigation li {
    display: block;
    /* change state in small view */
    flex: 1 1 auto;
  }

  .navigation li a {
    color: yellow;
  }

  .navigation a {
    text-align: center;
  }

  .content {
    background-color: rgb(0, 162, 255);
  }

  .content img {
    height: 50%;
  }
}