/* phone-default --> Small/Phone View ***************/
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Serif+Display:wght@600&family=Poppins:wght@300&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Dongle', sans-serif;
  background-color: #A9D6E5;
  margin: 0;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
  max-width: auto;
  margin: 0 auto;
}

header img {
  max-width: 100%;
  width: 285px;
  height: 286px;
}

header section h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  line-height: 45px;
}

.motto {
  text-align: left;
  font-style: italic;
  font-size: 1.5em;
  font-family: "Karla", serif;
}

nav {
  text-align: center;
  box-shadow: 0 0 30px #333;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 100%;
  /* max-width: 970px; */
  background-color: #000;
}

nav div {
  flex: 1 1 100%;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: 'Poppins', serif;
}

nav a:hover {
  background-color: #8d8a89;
  color: #A9D6E5;
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}

.navigation li {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
  color: #000;
  background-color: #fff;
  font-weight: 700;
  background-image: url(../assets/weather.png);
}

.navigation a.ham::before {
  content: "🍔 ";
}

.active {
  background-color: brown;
  color: white;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display 
   block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
  display: block;
}

.responsive a.ham::before {
  content: "❌ ";
}








main {
  max-width: 820px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: .25rem .25rem .75rem #333;
  margin-bottom: 1rem;
}

.herodiv {
  margin: 10px auto;
  position: relative;
}

.stats {
  position: absolute;
  bottom: 25px;
  left: 25px;
  background: radial-gradient(#eee, #4567aa);
  border: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0 0 30px #333;
  opacity: 0.5;
  /* 0.9; */
}

h2 {
	margin: 0 0 .5rem;
	border-bottom: 1px solid #000;
}

p {
	margin: 0;
}

.stats span {
  font-style: italic;
  font-weight: 700;
}

















@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");

h2 {
  font-size: 2em;
  color: #001D3D;
  font-family: 'Spectra' sans-serif;
  margin-left: 10px;
}

.flex {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  flex: 1 1 auto;
  background-color: #141413;
}

.flex-col,
.column-col,
.grid-col {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
}

.flex-col:hover,
td:hover,
.column-col:hover,
.grid-col:hover {
  opacity: 0.75;
  background-color: #233446;
  color: #1a1916;
}

.flex,
.column,
.grid {
  border-right: 1px solid #333;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #333;
  text-align: center;
}

img {
  padding: 0.25rem;
}

.data {
  display: block;
  padding: 0 5px 5px;
  font-size: 0.8rem;
  text-align: center;
}

.col-head,
th {
  font-weight: 700;
  font-size: 2rem;
  background-color: #001D3D;
  color: #f1f0ea;
}

/* Table styling and layout with no extras*/
table,
th,
td {
  border: thin solid #333;
  border-collapse: collapse;
  padding: 5px;
}

td {
  background-color: #ffc300;
  font-size: 0.8rem;
  text-align: center;
}

/* Column styling and layout */
.column {
  column-count: 6;
  column-gap: 0;
}

.column img {
  width: 50%;
}

.column-col {
  background-color: #ffc300;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.grid-col {
  background-color: #ffc300;
}

.image-day {
  border-radius: 40px;
}


.article p {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  margin: .5em;
  font-size: 1.5em;
}


.travel-time {
  position: relative;
  top: -270px;
  right: -530px;

  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.preston-contact-us {
  position: relative;
  top: -270px;
  right: -530px;

  font-family: 'Karla', sans-serif;
}










footer a:link,
footer a:visited {
  color: #cf2222;
}


footer {
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.2em;
  font-family: 'Karla', sans-serif;
  text-align: center;
  margin-top: 10px;
  max-width: auto;
  margin: 0 auto;
  width: auto;
  height: auto;
  border-radius: 15px;
}

a:hover {
  color: #f8cd0c;
}

footer a:hover {
  color: lightgreen;
}