@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Merriweather&display=swap");

body {
  padding: 1em;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #8d8a89;
}

section {
  border: 2px solid black;
  padding: 0.5em;
  background-color: #A9D6E5;
  margin: 5px;
}

section:hover {
  box-shadow: 20px 20px 20px 20px #5577;
  transition: all 0.3s linear;
  transform: scale(1.2);
  box-shadow: 0 0 50px yellow;   
}

h1 {
  text-align: center;
  padding: 1em;
  font-size: 3.5rem;
  text-shadow: .25rem .25rem .75rem #333;
  margin-bottom: 1rem;
}

h3, h4 {
  margin-top: -10px;
  font-family: "Merriweather", sans-serif;
}

img {
  width: 400px;
  height: 500px;
}

footer a:link,
footer a:visited {
  color: white;
}

footer {
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: row;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1.2em;
  font-family: 'Karla', sans-serif;
  text-align: center;
  margin-top: 10px;
  max-width: auto;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

a:hover {
  color: #f8cd0c;
}

footer a:hover {
  color: lightgreen;
}

@media only screen and (min-width: 640px) and (max-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (min-width: 60em) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}