/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Main/Small: smartphone-defaul */
.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-left img {
  width: 500px;
  height: 500px;
}

.flex-item-right img {
  width: 500px;
  height: 500px;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}


/* Medium: enhance-tablet */
@media only screen and (min-width: 768px) {
  .col-head,
  th {
    font-size: 1.6rem;
  }

  td {
    font-size: 1.25rem;
  }

  .data {
    font-size: 1.25rem;
  }

  .flex-item-left img {
    width: 700px;
    height: 900px;
  }
  
  .flex-item-right img {
    width: 700px;
    height: 900px;
  }
}


/* Large: enhance-desktop */
@media only screen and (min-width: 1140px) {
  .col-head,
  th {
    font-size: 2rem;
  }

  td {
    font-size: 1.5rem;
  }

  .data {
    font-size: 2.5rem;
  }

  .flex-container {
    display: flex;
    font-size: 30px;
    text-align: center;
  }

  .flex-item-left img {
    width: 700px;
    height: 900px;
  }
  
  .flex-item-right img {
    width: 700px;
    height: 900px;
  }
}