/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Small: smartphone-defaul */
.responsive_hero_image img {
  width: 100%;
  height: auto;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  color: white;
}

.hero-text a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px 45px;
  color: white;
  background-color: #D84233;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.hero-text a:hover {
  background-color: green;
  color: white;
}

.stats {
  top: 35px;
  left: 15px;
  opacity: 0.6;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #000000;
  background: radial-gradient(#ac7e62, #f7f5f3);
}

.stats span {
  font-style: italic;
  color: #D84233;
  font-weight: 700;
}

.flex-div {
  display: flex;
}

table,
th,
td {
  border: thin solid #333;
  border-collapse: collapse;
  padding: 5px;
}

.flex-col {
  flex: 1 1 auto;
  background-color: #7791AB;
}

.flex-col {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
}

.flex-col:hover,
td:hover {
  opacity: 0.75;
  background-color: #bdbdbd;
  color: #1a1916;
}

.col-head,
th {
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #0F0D0C;
  color: #f1f0ea;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0F0D0C;
  text-align: center;
}

td {
  background-color: #7791AB;
  font-size: 1.1rem;
  text-align: center;
}

img.image-day {
  padding: 0.25rem;
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

.data {
  display: block;
  font-size: 1.1rem;
  text-align: center;
  color: black;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-left img {
  width: 500px;
  height: 500px;
}

.flex-item-right img {
  width: 500px;
  height: 500px;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}


/* Medium: enhance-tablet */
@media only screen and (min-width: 768px) {
  .hero-text a {
    font-size: 2rem;
  }

  .stats {
    position: absolute;
    top: 480px;
    left: 35px;
  }

  .col-head,
  th {
    font-size: 1.6rem;
  }

  td {
    font-size: 1.25rem;
  }

  .data {
    font-size: 1.25rem;
  }

  .flex-item-left img {
    width: 700px;
    height: 900px;
  }
  
  .flex-item-right img {
    width: 700px;
    height: 900px;
  }
}


/* Large: enhance-desktop */
@media only screen and (min-width: 1140px) {
  .hero-text a {
    font-size: 2.5rem;
  }

  .stats {
    top: 744px;
    left: 600px;
  }

  .col-head,
  th {
    font-size: 2rem;
  }

  td {
    font-size: 1.5rem;
  }

  .data {
    font-size: 2.5rem;
  }

  .flex-container {
    display: flex;
    font-size: 30px;
    text-align: center;
  }

  .flex-item-left img {
    width: 700px;
    height: 900px;
  }
  
  .flex-item-right img {
    width: 700px;
    height: 900px;
  }
}