/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

/* Main/Small: smartphone-defaul */
/*----------- FORM --------------*/
form fieldset {
  margin: 2rem 0;
  border: 2px solid #0F0D0C;
  border-radius: 10px;
  padding: .5rem 2%;
}

form legend {
  color: #0F0D0C;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 3rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1.2rem;
  color: #9c2c13;
  font-size: 2rem;
}

form label.top input:required,
form label.top select:required {
  border-left: red solid 6px;
}

form label.top input:required:valid,
form label.top select:required:valid {
  background-color: white;
  border-left: green solid 6px;
}

form label.top input,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: 1px solid #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: .15rem 0;
  color: #555;
  font-size: 2rem;
}

form textarea {
  display: block;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

.specs li {
  font-size: 25px;
  margin-bottom: 25px;
}

/*----------- CONFIRMATION --------------*/
.got_info {
  text-align: center;
  font-size: 2rem;
}


/* Medium: enhance-tablet */
@media only screen and (min-width: 768px) {}


/* Large: enhance-desktop */
@media only screen and (min-width: 1140px) {}