/* ########################################################################################## */
/* ###                      Main CSS with the focus on Mobile First                       ### */
/* ########################################################################################## */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMMON <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Spectral&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #F7EFEA;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  clear: both;
  padding: 15px;
}

.limited {
  max-width: 1440px;
  margin: auto;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
header {
  background-color: #D84233;
}

header img {
  float: left;
  height: 85px;
  padding-right: 10px;

}

header h1,
header h2 {
  margin: 0;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

header h1 {
  padding: .5rem 0 0 0;
  font-size: 1.95rem;
}

header h2 {
  padding: .2rem 0 0 0;
  font-size: 1.05rem;
}

.header-column {
  float: left;
  padding: 0 2vw;
  margin: 0 0 .75rem 0;
}

.small-12 {
  width: 100%;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NAVIGATION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
button#hamburger-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 2.4rem;
  cursor: pointer;
  padding: 0 30px 0 2vw;
}

nav {
  background-color: #0F0D0C;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: .8rem 0;
  color: #eee;
  text-align: center;
  text-decoration: none;
  font-size: .8rem;
  padding: .7rem 1rem;
}

nav a.active {
  color: #0F0D0C;
  background-color: #7791AB;
}

nav a:hover {
  background-color: #472D30;
}

nav a.active:hover {
  color: #eee;
  background-color: #7791AB;
}

nav ul.open {
  display: block;
}

nav ul {
  display: none;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
main div h1 {
  text-align: center;
  font-size: 3.5rem;
  text-shadow: .25rem .25rem .75rem #333;
  margin-bottom: 1rem;
}

.responsive_hero_image img {
  width: 100%;
  height: auto;
}

.stats {
  top: 35px;
  left: 15px;
  opacity: 0.6;
  margin: 1.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  border: 1px solid #000000;
  background: radial-gradient(#ac7e62, #f7f5f3);
}

.stats span {
  font-style: italic;
  color: #D84233;
  font-weight: 700;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 150%);
  color: white;
}

.hero-text a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 20px 45px;
  color: white;
  background-color: #D84233;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.hero-text a:hover {
  background-color: green;
  color: white;
}

.flex-div {
  display: flex;
}

table,
th,
td {
  border: thin solid #333;
  border-collapse: collapse;
  padding: 5px;
}

.flex-col {
  flex: 1 1 auto;
  background-color: #7791AB;
}

.flex-col {
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  text-align: center;
}

.flex-col:hover,
td:hover {
  opacity: 0.75;
  background-color: #bdbdbd;
  color: #1a1916;
}

.col-head,
th {
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #0F0D0C;
  color: #f1f0ea;
}

.col-head {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #0F0D0C;
  text-align: center;
}

td {
  background-color: #7791AB;
  font-size: 1.1rem;
  text-align: center;
}

img.image-day {
  padding: 0.25rem;
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

.data {
  display: block;
  font-size: 1.1rem;
  text-align: center;
  color: black;
}

/* See the web page's specific styles.css file  */

.cozumel-map {
  margin-top: 30px;
  padding-left: 15px;
}

iframe {  
  width: 500px;
  height: 300px;
}

div.cozumel-map h1 {
  font-size: 1.75rem;
}

.cozumel-contact-us {
  margin-bottom: 45px;
  padding-left: 15px;
  font-size: 1.5rem;
}

div.cozumel-contact-us p {
  font-size: 1.3rem;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
footer {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  background-color: #D84233;
  margin-bottom: 7px;
  line-height: 2em;
}

#info { 
  font-style: italic;
  margin: 1rem 0 .3rem 0;
}

.socialmedia {
  padding: 10px;
}

footer a:link,
footer a:visited {
  color: white;
}

footer a:hover {
  color: lightgreen;
}

center {
  font-size: 1.5rem;
  line-height: 2em;
}