/* phone-default --> Small/Phone View that is Smartphones (portrait) ----------- */
@media only screen and (max-width: 39.9375em) {
  .travel-time {
    width: 70%;
    margin: 0 0 0 15%;
    float: none;
  }

  .stats {
    position: static;
    bottom: 25px;
    left: 25px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    box-shadow: 0 0 30px #333;
    opacity: 1;
    margin: 10px auto;
    font-size: 1.5rem;
  }

  .featured-article {
    font-size: 2.5rem;
  }

  .town-events section h2 {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .town-events section h4 {
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .preston-contact {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 20px 0px;
  }

  .preston-map {
    padding: 15px 0px 0px 0px;
  }

  iframe {
    width: 500px;
    height: 300px;
  }

  .preston-contact-us {
    float: left;
    font-size: 1.5rem;
    padding: 20px 0px 0px 20px;
  }

  div.preston-contact-us p {
    font-size: 1.3rem;
  }

  img.open-weather {
    width: 200px;
    height: 100px;
    border-radius: 10px;
  }



  /* Home Page */
  .cards {
    grid-template-columns: 1fr;
  }



  /* Gallery Page */
  .images {
    grid-template-columns: repeat(1, 1fr);
  }
}