@media only screen and (min-width: 1140px) {
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  header img {
    height: 135px;
  }

  header h1,
  header h2 {
    font-weight: 100px;
  }

  header h1 {
    font-size: 3.55rem;
  }

  header h2 {
    font-size: 2.35rem;
  }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NAVIGATION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  nav ul {
    margin-left: 2vw;
  }

  nav li {
    width: auto;
  }

  nav a {
    font-size: 1.4rem;
    padding: 1.1rem 1.8rem;
  }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/home/5_conzumel_beach.webp");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}
.responsive_hero_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.stats {
  top: 344px;
  left: 35px;
}

  



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  footer {
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2.7em;
  }
}