@media only screen and (min-width: 768px) {
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  header img {
    height: 105px;
  }

  header h1,
  header h2 {
    font-weight: 200;
  }

  header h1 {
    font-size: 2.85rem;
  }

  header h2 {
    font-size: 1.5rem;
  }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NAVIGATION <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav button {
    display: none;
  }

  nav ul {
    display: block;
  }

  nav li {
    width: 25%;
    float: left;
  }

  nav a {
    font-size: 1.1rem;
    padding: .9rem 1.5rem;
  }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  .hero-text button {
    font-size: 2rem;
  }

  .stats {
    position: absolute;
    top: 480px;
    left: 35px;
  }

  .col-head,
  th {
    font-size: 1.6rem;
  }

  td {
    font-size: 1.25rem;
  }

  .data {
    font-size: 1.25rem;
  }

  .flex-item-left img {
    width: 700px;
    height: 900px;
  }
  
  .flex-item-right img {
    width: 700px;
    height: 900px;
  }

  .cozumel-contact {
    flex-direction: column;
    align-items: center;
  }

  .cozumel-map {
    padding-top: 20px;
  }

  iframe {
    margin-left: 2%;
    width: 1050px;
    height: 700px;
  }

  .cozumel-contact-us {
    float: left;
    font-size: 1.5rem;
  }

  div.cozumel-contact-us {
    font-size: 1.9rem;
  }
  
  div.cozumel-contact-us p {
    font-size: 1.7rem;
  }



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
  footer {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2.2em;
  }
}